/**
* TAB PANELS SNIPPET
*/


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}


/* Put video fullscreen! */
.fullscreenvideo {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    z-index: 99999999999999 !important;
}

.open_moment {
    background-color: #EEEEEE;
}

.panel-subtitle {
    font-size: 70%;
    background-color: #e9e9e9;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.black_bg {
    background-color: black;
}

/* ! Break all property to fix non-wrapped/broken text */
p {
	word-break: break-all;
}
a.cover {
	height: 100%;
	width: 100%;
	display: block;
}
p.comment {
	font-size: 1.5em;
	padding: 0 0 0 0;
	margin: 0;
	word-break: normal;
}
ul {
	padding: 0;
}
.bottom-buffer {
	margin-bottom: 10px;
}
.nav-tabs > li, .nav-pills > li {
	float: none;
	display: inline-block;
	*display: inline;
	/* ie7 fix */
	
	zoom: 1;
	/* hasLayout ie7 trigger */
}
.flash {
	position: fixed;
	right: 20px;
	bottom: 0;
	height: 20%;
	width: 30%;
	z-index: 999;
}
.profile_picture {
	width: 30px;
}
.breadcrumb {
	margin-bottom: 0 !important;
}
#tagfield {
	width: 100%;
	height: 500px !important;
	margin-bottom: 100px !important;
	background: #EEE;
	position: relative;
}
.tag {
	cursor: pointer;
}
.no-padding {
	padding: 0 !important;
	margin: 0 !important;
}
.editable {
	color: #149c82;
	pointer: editable;
}
.navbar {
	margin: 0 0 0 0;
	border-radius: 0;
}
.modal-dialog.modal-wide {
	width: 90%;
	height: 90%;
	margin-top: 10px;
}
.confirmation-modal {
	width: 50% !important;
	top: 30% !important;
	left: 25%;
}
.video_container {
	overflow: auto;
	width: 100%;
    max-height: 50%;
    background: #000;
}
.jwplayer, .jwplayer_vid {
	float: left;
	height: 100%;
}
#info {
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 4px;
}
.info_bar {
	position: absolute;
	height: 30px;
	background: #FFF;
	border: 1px solid #000;
	width: 100px;
	text-align: center;
	top: -10px;
	display: none;
}

.tagged-moment {
	width: 180px !important;
	height: 200px;
	float: left;
	border-right: 1px solid #000;
	padding: 5px;
	background: #FFF;
	cursor: pointer;
}
.tagged-moment:hover {
	background: #EEE;
}
.autocomplete-suggestions {
	background: #F2F2F2;
	padding: 10px;
}
.autocomplete-suggestion {
	border-bottom: 1px solid #FFF;
	padding: 10px;
}
.autocomplete-selected {
	background: #333;
	color: #FFF;
}
.tag_added {
	background: #149c82 !important;
}
.tag_added:hover {
	background: #149c82;
}
.label-tag {
	font-size: 14px;
	font-weight: normal;
	line-height: 2;
}
.big-label {
	font-size: 1.5em;
}
.row-tags {
	min-height: 106px;
}
.modal {
	position: fixed !important;
	overflow: scroll;
}
.user-inactive {
	color: #CCC;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #eeeeee;
	padding-bottom: 10px;
}
.footer .text-muted{
	margin: 10px 0 0 0;
	text-align: center;
	color: rgb(51,51,51);
}
.promo-logos{
	text-align: center;
}
	.promo-logos .promo-logo{
		margin: 0 20px 0 20px;
		width: 15%;
		opacity: 0.3;
	}
	.promo-logos .promo-logo:hover{
		opacity: 0.7;
	}
.moments-footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow-x: scroll;
}

/*
oooooooooo.                          .                .                                 
`888'   `Y8b                       .o8              .o8                                 
 888     888  .ooooo.   .ooooo.  .o888oo  .oooo.o .o888oo oooo d8b  .oooo.   oo.ooooo.  
 888oooo888' d88' `88b d88' `88b   888   d88(  "8   888   `888""8P `P  )88b   888' `88b 
 888    `88b 888   888 888   888   888   `"Y88b.    888    888      .oP"888   888   888 
 888    .88P 888   888 888   888   888 . o.  )88b   888 .  888     d8(  888   888   888 
o888bood8P'  `Y8bod8P' `Y8bod8P'   "888" 8""888P'   "888" d888b    `Y888""8o  888bod8P' 
																			  888       
																			 o888o      
																						
oooooooooooo             oooo                                                                                              .                      
`888'     `8             `888                                                                                            .o8                      
 888         ooo. .oo.    888 .oo.    .oooo.   ooo. .oo.    .ooooo.   .ooooo.  ooo. .oo.  .oo.    .ooooo.  ooo. .oo.   .o888oo  .oooo.o           
 888oooo8    `888P"Y88b   888P"Y88b  `P  )88b  `888P"Y88b  d88' `"Y8 d88' `88b `888P"Y88bP"Y88b  d88' `88b `888P"Y88b    888   d88(  "8           
 888    "     888   888   888   888   .oP"888   888   888  888       888ooo888  888   888   888  888ooo888  888   888    888   `"Y88b.            
 888       o  888   888   888   888  d8(  888   888   888  888   .o8 888    .o  888   888   888  888    .o  888   888    888 . o.  )88b           
o888ooooood8 o888o o888o o888o o888o `Y888""8o o888o o888o `Y8bod8P' `Y8bod8P' o888o o888o o888o `Y8bod8P' o888o o888o   "888" 8""888P'                                                                                                                                               
*/           

.modal-body .container-fluid{
	padding: 0;
}

@media(max-width:767px){
	.modal-body{
		padding: 1px;
	}

	.tag_button, .player_button{
		position: static !important;
		display: block;
		margin: 2px 0 0 0;
	}
	.tags_overview{
		height: auto;
		min-height: 2px;
	}
}
@media(min-width:768px){
	.tag_button{
		position: absolute;
	}

	.tags_overview{
		height: 100%; 
		min-height: 400px;
	}
}
@media(min-width:992px){}
@media(min-width:1200px){}                                                                                                                                    
																																																										

/* CALLOUTS BOOTSTRAP ENHANCEMENT*/
/* Side notes for calling out things
-------------------------------------------------- */
/* Base styles (regardless of theme) */

.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
.bs-callout h4 {
	margin-top: 0;
}
.bs-callout p:last-child {
	margin-bottom: 0;
}
.bs-callout code, .bs-callout .highlight {
	background-color: #fff;
}
/* Themes for different contexts */

.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
.bg-warning {
	padding: 10px;
}
.bg-danger {
	color: #FFF;
	padding: 10px;
}
.panel {
	margin-top: 20px;
}
.panel-container {
	padding: 10px;
}
.bg-empha {
	background: #ecf0f1;
}
.btn-part {
	margin-top: 20px;
}
.table a {
	text-decoration: none;
}
label.selected {
	border: 4px solid #e74c3c;
}
.btn-full-width {
	width: 100%;
	display: block;
	color: #2c3e50;
}
.btn-full-width:hover {
	color: #18bc9c;
	background: #f5f5f5;
}
ul.list-striped > li:nth-child(odd) {
	background-color: #f9f9f9;
}
ul.list-over > a:hover > li {
	background-color: #f5f5f5;
}
ul > li.info {
	background-color: #d9edf7;
}
table {
	font-size: 1em;
}
video {
	margin: 0;
	vertical-align: middle;
}
#moment0 {
	top: 0;
	left: 0;
}
#moment1 {
	top: 0;
	right: 0;
	margin-left: 20px;
}

.moment_thumb {
    margin-bottom: 5px;
    margin-top: 5px;
}

#moment_info .lead-lapse{
	min-height: 91px;
}


#grab {
	position: absolute;
	width: 20px;
	height: 100%;
	top: 0;
	left: 480px;
	cursor: col-resize;
	z-index: 10;
}
#grabber {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	background-image: url("../images/drag-bar.png");
	background-position: 2px center;
	background-repeat: no-repeat;
	pointer-events: none;
}
#grab-line {
	width: 0px;
	height: 100%;
	border: solid 1px #444;
	margin: 0 8px;
	position: absolute;
	z-index: -10;
}
#audio-selector {
	position: absolute;
	bottom: -25px;
	width: 20px;
	height: 20px;
	left: -1px;
	/*background: url("images/sound.png") no-repeat scroll 0 0  transparent; */
	
	cursor: pointer;
}
#audio-right {
	position: absolute;
	bottom: -24px;
	left: 12px;
	border-top: 8px solid transparent;
	border-left: 18px solid #777;
	border-bottom: 8px solid transparent;
	height: 0px;
	width: 0px;
	margin: 8px 0 0 8px;
	display: block;
	line-height: 0;
	font-size: 0px;
	cursor: pointer;
}
#audio-right.active {
	border-left-color: #006FB9;
}
#audio-left {
	position: absolute;
	bottom: -24px;
	left: -28px;
	border-top: 8px solid transparent;
	border-right: 18px solid #777;
	border-bottom: 8px solid transparent;
	height: 0px;
	width: 0px;
	margin: 8px 0 0 8px;
	display: block;
	line-height: 0;
	font-size: 0px;
	cursor: pointer;
}
#audio-left.active {
	border-right-color: #006FB9;
}
/* Controls */

ul.video-controls {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0 165px 0 35px;
	height: 35px;
	width: 980px;
	position: relative;
	color: white;
	background-color: black;
	border: none;
}
ul.video-controls > li {
	float: left;
	height: 25px;
	list-style: none;
	margin: 5px 5px 0 0;
	padding: 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
}
ul.video-controls > li.play-control {
	cursor: pointer;
	width: 25px;
}
ul.video-controls > li.play-control span {
	border-top: 5px solid transparent;
	border-left: 10px solid white;
	border-bottom: 5px solid transparent;
	height: 0px;
	width: 0px;
	margin: 8px 0 0 8px;
	display: block;
	line-height: 0;
	font-size: 0px;
}


/* Pillbox */
.pillbox{

}

	.pillbox li.event:before{
		font-family: "Glyphicons Halflings";
		content:"\e034";
	}
	.pillbox li.team:before{
		font-family: "Glyphicons Halflings";
		content:"\2a";
	}
	.pillbox li.tag:before{
		font-family: "Glyphicons Halflings";
		content:"\e146";
	}
    .pillbox li.player:before{
        font-family: "Glyphicons Halflings";
        content:"\e008";
    }
    .pillbox li.playlist:before{
        font-family: "Glyphicons Halflings";
        content:"\e044";
    }
